
body {
    text-align: center;
    background-image: url(/img/49.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
header {
    font-family: 'Belanosima', sans-serif;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.span-header {
    font-size: 1.5rem;
}
#nav-principal {
    font-family: 'Belanosima', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    margin: 0 auto;
    width: 23rem;
    font-size: 1.5rem;
}
#nav-principal a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
}
#nav-principal a:hover {
    background-color: yellow;
    color: black;
}
.rounding-corners {
    border-radius: 10px;
}
#container-profile {
    padding: 1rem;
    width: 50%;
    margin: 1rem auto;
    background-image: url(https://img.freepik.com/free-vector/smooth-white-wave-background_52683-55288.jpg?w=740&t=st=1687833614~exp=1687834214~hmac=8b4bd16bb3db5a955d654b330cef5c71fbe866df950ed17ac2f90ee5f1cd6209);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    font-size: 1.3rem;
    height: 22rem;
}
#container-info {
    padding: 0rem;
    width: 70%;
    margin: 0 auto 2rem auto;
    background-image: url(/img/5143237.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    font-size: 1.3rem;
    height: 25rem;
}
.logo {
    max-width: 3rem;
    max-height: 3rem;
}
#manu-pic {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.tools {
    max-width: 5rem;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#projects img {
    width: 10rem;
    height: 10rem;
}
#project-1 {
    display: flex;
}