@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
:root {
    --light-0: #f8f9fa;
    --light-1: #d1d4d7;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
    --color1: #F9F7F7;
    --color2: #DBE2EF;
    --color3: #3081df;;
    --color4: #112D4E;
}

body {
    background-color: var(--dark-2);
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: grid;
    color: var(--color3);
    transition: background 0.3s ease;
}
body.light {
    background-color: var(--light-0);
    color: black;
}
header {
    background-color: var(--dark-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 98vh;
    background-size: cover;
    text-align: center;
}
.lightBG {
    background-color: var(--color1);
}
header h1 {
    color:var(--color3);
    font-size: 60px;
}
header span {
    font-size: 20px;
    color:var(--color3);
    padding-bottom: 30px;
}
h2 {
    font-size: 38px;
}
input {
    position: absolute;
    display: none;
}
label {
    background: var(--dark-2);
    border-radius: 20px;
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 68px;
}
label .sun-moon {
    background: var(--light-1);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
}
#toggle-button:checked + label {
    background: var(--light-2);
}
#toggle-button:checked + label .sun-moon {
    background: var(--dark-2);
    transform: translateX(30px);
}

/*-- nav --*/
nav {
    background-color: var(--color4);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 15px;
}
nav.lightBG {
    background-color: var(--color3);
}
a {
    text-decoration: none;
    color: var(--color1);
}
/*-- network --*/
#network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--color4);
    padding: 10px 12px;
    border-radius: 20px;
}
.icon {
    height: 30px;
    width: 30px;
}
/*-- about --*/
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#manu-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
/*-- container --*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
    gap: 20px; 
}
.right-column, .left-column { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-column, .left-column {
    padding: 15px;
}

#manu-pic {
    max-width: 100%;
    height: auto;
}







