@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
:root {
    --light-0: #f8f9fa;
    --light-1: #d1d4d7;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
    --color1: #d0e1f4;
    --color2: #a8bee8;
    --color3: #3081df;
    --color4: #112D4E;
}

body {
    background-color: var(--dark-1);
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    display: grid;
    color: var(--color2);
    transition: background 0.3s ease;
}
body.light {
    background-color: var(--light-0);
    color: var(--dark-1);
}


/*-- header --*/
header {
    background-image: url(img/dark-geometric-background-with-copy-space.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-size: cover;
    text-align: center;
}
.headerLight {
    background-image: url(img/v1016-a-08.jpg);
}
.headerLight h1 {
    color: var(--color4);
}
header h1 {
    color:var(--color2);
    font-size: 60px;
}
header h3 {
    font-weight: normal;
    margin-bottom: 6rem;
}
header span {
    font-size: 20px;
    color:var(--color3);
    padding-bottom: 30px;
}
h2 {
    font-size: 38px;
}
/*-- network --*/
#social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--color3);
    padding: 10px;
    border-radius: 20px;
}
#social-network p {
    font-weight: bold;
    font-size: 20px;
}
.icon:hover {
    transform: scale(1.1); 
    color: var(--color4)
}
.icon {
    transition: transform .1s; 
    height: auto;
    width: 30px;
}


/*-- switch dark/light --*/
input {
    position: absolute;
    display: none;
}
label {
    background: var(--dark-2);
    border-radius: 20px;
    cursor: pointer;
    height: 38px;
    position: relative;
    width: 68px;
}
label .sun-moon {
    background: var(--light-1);
    border-radius: 50%;
    height: 30px;
    margin: 4px;
    transition: transform 0.3s ease;
    width: 30px;
}
#toggle-button:checked + label {
    background: var(--light-2);
}
#toggle-button:checked + label .sun-moon {
    background: var(--dark-2);
    transform: translateX(30px);
}


/*-- nav --*/
nav {
    background-color: var(--color4);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 15px;
}
.navLight {
    background-color: var(--color2);
}
.navLight a {
    color: var(--dark-1);
}
a {
    text-decoration: none;
    color: antiquewhite;
}




/*-- about --*/
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 25px;
    padding: 20px;
    margin: 7rem 0;
}

#manu-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
/*-- container --*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; 
    gap: 20px; 
}
.right-column, .left-column { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-column, .left-column {
    padding: 15px;
}
#manu-pic {
    max-width: 100%;
    height: auto;
}

/*-- stack --*/
#stack {
    margin-top: 5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2.5rem;
    border-radius: 20px;
    padding: 10px 12px;
}

#stack img {
    width: 50px;
    height: auto;
    padding: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--color1);
    border-radius: 30px;
}

/*-- projects --*/
#projects {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
}
#trivia {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    line-height: 25px;
    margin-top: 3rem;
    border: 2px solid var(--color3);
    padding: 20px 10px;
    border-radius: 20px;
}
#trivia img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}
#trivia-stack {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
#trivia-stack img {
    width: 30px;
    height: auto;
    background-color: var(--color1);
}
#trivia p {
    padding: 10px;
}
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-- contact --*/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
#contact-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
#contact p {
    font-size: 25px;
}
#contact img {
    width: 40px;
    height: auto;
}
#contact a {
    color: var(--dark-1);
    padding: 10px;
    border: solid 1px var(--color3);
    width: 180px;
    height: 60px;
    display: grid;
    place-items: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--color1);
}
#contact a:hover {
    background-color: var(--color2);
    color: var(--dark-2);
}

/*-- utilities --*/
.box-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.zoom {
    transition: transform .1s; 
}
.zoom:hover {
    transform: scale(1.1); 
}


/*-- footer --*/
footer {
    padding: 10px;
    background-color: black;
    text-align: center  ;
}


